button, entry{
    background: #333333;
    border-radius: 3px;
    color:rgb(172, 172, 172);
}
entry{
  border-color: #2e2e2e;
}
label{
  color:rgb(216, 216, 216);
}


button:hover {
  background: #808080;
}
header{
    background:#000000;
}

viewport{
  opacity: 0.7;
  background-color: #000000;
}

window{
  color:rgb(172, 172, 172);
  background: #b9b9b9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
dialog{
  background: #333333;
  color:rgb(172, 172, 172);
}